Tix.IBMMQ.Bridge/bin
Tix.IBMMQ.Bridge/obj
Tix.IBMMQ.Bridge.IntegrationTests/bin
Tix.IBMMQ.Bridge.IntegrationTests/obj
Tix.IBMMQ.Bridge.Tests/bin
Tix.IBMMQ.Bridge.Tests/obj
Tix.IBMMQ.Bridge.sln.DotSettings.user
certs/
